body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    color: rgb(119, 119, 119);
}
#margin-left{
    margin-left: 100px;
}
.flex-class{
    display: flex;
}
.width{
    width: 35%;
}
.width img {
    width: 80%;
    height: 450px;
    padding-left: 100px;
}
h2{
    font-size: 32px;
    color: rgb(119, 119, 119);
}
.button-class{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 250, 250),rgb(29, 29, 248));
    padding: 10px 30px;
    border-radius: 80px;
    color: white;
    font-weight: 500;
}
.background{
    background-image: url(7.png);
    
}